# Project
discodeit/HELP.md
discodeit/CLAUDE.md
discodeit/docs/
discodeit/.logs
discodeit/.claude

# Build
.gradle/
build/
out/
discodeit/.gradle/
discodeit/build/
!discodeit/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/
bin/
*.class
*.ser

# Secrets & environment
.env
.env.*
discodeit.env
discodeit/src/main/resources/application-local.yaml

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDE - STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDE - VS Code
.vscode/

# OS
.DS_Store
**/.DS_Store
