.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
build/
.env
discodeit.env
*.log
.discodeit/

.idea
*.iws
*.iml
*.jar
!gradle-wrapper.jar
out/
!**/src/main/**/out/
!**/src/test/**/out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

### Mac OS ###
.DS_Store