<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <conversionRule conversionWord="lvlclr"
    converterClass="com.sprint.mission.discodeit.logging.LevelColorConverter"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %lvlclr(%-5level) %clr(%-36logger{36}){cyan}
        [%X{request_id} | %X{request_method} | %X{request_url}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./.logs/spring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./.logs/spring-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-36logger{36} [%X{request_id} |
        %X{request_method} | %X{request_url}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <logger name="com.sprint.mission.discodeit" level="DEBUG"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="INFO"/>
  <logger name="sun.rmi" level="INFO"/>
  <logger name="javax.management" level="INFO"/>
</configuration>