<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 프로젝트 루트 기준 .logs -->
  <property name="LOG_PATH" value="${user.dir}/.logs"/>

  <!-- 콘솔 출력 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId} | %X{httpMethod} | %X{requestUri}] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 파일 출력 (일자별 롤링) -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/application.log</file>
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId} | %X{httpMethod} | %X{requestUri}] - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 날짜가 바뀌면 자동 롤링, 10MB 초과 시 분할 -->
      <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <!-- default -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <!-- for debug -->
  <springProfile name="local,dev">
    <logger name="com.sprint.mission.discodeit" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
  </springProfile>

  <!-- for prod -->
  <springProfile name="prod">
    <logger name="com.sprint.mission.discodeit" level="INFO"/>
  </springProfile>
</configuration>
